<form class="contact-form" name="contact" method="POST" data-netlify="true">
  <div class="form-row mt-3">
    <div class="col-md-3">
      <label for="name">Your Name</label>  
      <input class="form-control" type="text" name="name" id="name" required/> 
    </div>
    <div class="col-md-3">
      <label for="email">Your Email</label>
      <input class="form-control" type="email" name="email" id="email" required/>
    </div>
  </div>
  <div class="form-row mt-3">
    <div class="col-md-6">
      <label for="message">Message</label>
      <textarea class="form-control" name="message" id="message" required></textarea>
    </div>
  </div>
  <div class="form-row mt-3">
    <div class="col-md-6">
      <label for="upload">Content</label>
      <input class="form-control-file" name="upload" type="file" id="upload"/>
    </div>
  </div>
  <div class="form-row mt-3">
    <div class="col-md-6">
      <button class="btn" type="submit">Send</button>
    </div>
  </div>

</form>
