<h1>
  {{ record.Prefix }} {{ record.First_Name }} {{ record.Middle_Name }} {{ record.Nick_Name }}
  {{ record.Maiden_Name }} {{ record.Last_Name }} {{ record.Suffix }}
</h1>

<h1>Personal Data</h1>
{% if record.Birth_Date != "Unknown" %}
  <p>Birth Date: {{ record.Birth_Date }}</p>
{% endif %}

{% if record.Birth_Location != '' %}
  <p>Place of Birth: {{ record.Birth_Location }}</p>
{% endif %}

<p>Death Date: {{ record.Death_Date }}</p>

{% if record.Death_Location != '' %}
  <p>Place of Death: {{ record.Death_Location }}</p>
{% endif %}

{% if record.Age_death != '' %}
  <p>Age at Death: {{ record.Age_death }}</p>
{% endif %}

<h1>Relationships</h1>
{% if record.Mother_FirstMiddle_name != '' and record.Mother_Last_Name != '' %}
  <p>
    Mother: {{ record.Mother_FirstMiddle_name }} {{ record.Mother_Last_Name }}
    {% if record.Mother_Birthplace != '' %}
      , Born In
      {{ record.Mother_Birthplace }}
    {% endif %}
  </p>
{% endif %}

{% if record.Father_FirstMiddle_name != '' and record.Father_Last_Name != '' %}
  <p>
    Father: {{ record.Father_FirstMiddle_name }} {{ record.Father_Last_Name }}
    {% if record.Father_Birthplace != '' %}
      , Born In
      {{ record.Father_Birthplace }}
    {% endif %}
  </p>
{% endif %}

{% if record.Spouse_Name != '' %}
  <p>Spouses:</p>
  <p>{{ record.Spouse_Name }} {{ record.Marriage_date }} {{ record.Marriage_location }}</p>
  {% if record.Spouse_2 != '' %}
    <p>{{ record.Spouse_2 }}</p>
  {% endif %}
  {% if record.Spouse_3 != '' %}
    <p>{{ record.Spouse_3 }}</p>
  {% endif %}
  {% if record.Spouse_4 != '' %}
    <p>{{ record.Spouse_4 }}</p>
  {% endif %}
{% endif %}

{% if record.Other_family_Siblings_Children_etc != '' %}
  <p>Other Relatives:</p>
  <p>{{ record.Other_family_Siblings_Children_etc }}</p>
{% endif %}

{% if record.Address != '' %}
  <h1>Address</h1>
  <p>{{ record.Address }}</p>
{% endif %}

{% if record.Occupation != '' %}
  <h1>Occupation</h1>
  <p>{{ record.Occupation }}</p>
{% endif %}

{% if record.Employer != '' %}
  <h1>Employer</h1>
  <p>{{ record.Employer }}</p>
{% endif %}

{% if record.Fraternal_and_Beneficial_Organizations != '' or record.Church_affiliation != '' or record.School != '' %}
  <h1>Community Affiliations</h1>
  {% if record.Fraternal_and_Beneficial_Organizations != '' %}
    <p>
      Fraternal and Beneficial Organizations:
      {{ record.Fraternal_and_Beneficial_Organizations }}
    </p>
  {% endif %}
  {% if record.Church_affiliation != '' %}
    <p>Church Affiliation: {{ record.Church_affiliation }}</p>
  {% endif %}
  {% if record.School != '' %}
    <p>School: {{ record.School }}</p>
  {% endif %}
{% endif %}

{% if record.Military_Service != '' %}
  <h1>Military Service</h1>
  <p>{{ record.Military_Service }}</p>
  <p>{{ record.Service_Information }}</p>
{% endif %}

{% if record.Plantation != '' %}
  <h1>Enslavement</h1>
  <p>Plantation: {{ record.Plantation }}</p>
{% endif %}

{% if record.Death_Primary != '' %}
  <h1>Verbatim Cause of Death</h1>
  <p>{{record.Death_Primary}}</p>
  <p>{{record.Death_Secondary}}</p>
{% endif %}

{% if record.Funeral_Home != '' or record.Funeral_Home_Address != '' or record.Burial_Date != "Unknown" %}
  <h1>Burial Information</h1>
  <p>Funeral Home: {{ record.Funeral_Home }}</p>
  <p>Funeral Home Adress: {{ record.Funeral_Home_Address }}</p>
  <p>
    Burial Date: {{ record.Burial_Date }}</p>
{% endif %}

{% if recored.Document_Type == "Grave Marker Description" and record.Notes != '' %}
  <h1>Notes</h1>
  <p>{{record.Notes}}</p>
{% endif %}

{% if record.Date_of_Publication != '' %}
<h1>Date</h1>
<p>{{record.Date_of_Publication}}</p>
{% endif %}

{% if record.Transcription_of_Printed_Material != '' %}
<h1>Transcription of Printed Material</h1>
<p>{{record.Transcription_of_Printed_Material}}</p>
{% endif %}

{% if record.Type != '' %}
<h1>Type</h1>
<p>{{record.Type}}</p>
{% endif %}

{% if record.Other_Description != '' %}
<h1>Other Description</h1>
<p>{{record.Other_Description}}</p>
{% endif %}

{% if record.Materials != '' %}
<h1>Materials</h1>
<p>{{record.Materials}}</p>
{% endif %}

{% if record.Decoration != '' %}
<h1>Decoration</h1>
<p>{{record.Decoration}}</p>
{% endif %}

{% if record.Marker_Transcription != '' %}
<h1>Marker Transcription</h1>
<p>{{record.Marker_Transcription}}</p>
{% endif %}


{% if record.Notes_and_Clarifications != '' %}
  <h1>Notes and Clarifications:</h1>
  <p>{{ record.Notes_and_Clarifications }}</p>
{% endif %}

{% if record.Other_Documents_to_Consult_for_Research != '' %}
  <h1>Other Documents to Consult for Research:</h1>
  <p>{{ record.Other_Documents_to_Consult_for_Research }}</p>
{% endif %}

