<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="flex-footer">
      <h2 class="footer-heading">&copy; {{ site.title | escape }}</h2>
      <div class="logos-container">
        <a href="" >
          <img class="footer-logo" id="foee-logo" src="/assets/img/foee_logo_light.png" >
        </a>
        <a href="" >
          <img class="footer-logo" id="ur-logo" src="/assets/img/ur_logo.png" >
        </a>
        <a href="" >
          <img class="footer-logo" id="vcu-logo" src="/assets/img/vcu_logo.png" >
        </a>
      </div>
    </div>

  </div>

</footer>
