{% assign posts = site.posts %}

<div class="latest-news-include">
  {%- if posts.size > 0 -%}
    <h2 class="top-news-heading">Colaboratory News</h2>
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts limit: 2 -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
  {%- if posts.size > 2 -%}
    <a href="{{"/news" | relative_url }}">See post history >></a>
  {%- endif -%}
</div>