.person{
    h2{
        margin: $spacing-unit 0;
    }
    img{
        max-width: 100%; 
        max-height: 400px;
        border: 1px solid white;
        border-radius: .8rem;
        padding-bottom: 1px;
    }
    .fact-container{
        display: flex;
        flex-wrap: wrap;
        .fact-cell{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            width: 250px;
            margin-bottom: 15px;
            .fact{
                width: 70%;
            }
            .fact-label{
                font-size: .85rem;
                font-weight: bold;
                margin-bottom: 5px;
            }
        }
    }
    .full-bio-section{
        display: flex;
        flex-direction: column;
        .full-bio-hero{
            display: flex;
            margin-bottom: $spacing-unit;
            .hero-text{
                width: 100%;
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
            }
        }  
        .link-container{
            margin: $spacing-unit 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            a{
                margin: 5px 5px;
            }
        } 
        h4{
            margin-top: $spacing-unit;
        }
    }
    .other-records-section{
        h4{
            margin-top: $spacing-unit;
        }
        .img-fact-container{
            text-align: center;
            img{
                margin-bottom: $spacing-unit; 
            }
            .fact{
                text-align: left;
            }

        }
    }
}