#react_search_container{
    #search-info-container{
        margin-bottom: $spacing-unit;
        margin-top: 5px;
        .search-info-link{
            margin-right: 5px;
        }
    }
    .main-content {
        justify-content: space-around;
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    #sidebar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE and Edge */
    #sidebar {
    -ms-overflow-style: none;
    }
    #sidebar {
        h1{
            font-weight: bold;
        }
        @media (min-width: $md) {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            height: 100vh;
            overflow: scroll;
        }
        .search-field-section{
            display: flex;
            justify-content: space-between;
            align-items: center;
            form{
                width: 50%;
            }
            .copy-url-button {
                height: 90%;
                font-size: .85rem;
                &:disabled{
                    background-color: transparent;
                    color: white;
                    opacity: 1;
                    border: none;
                }
            }
        }
        .sort-section{
            margin-bottom: $spacing-unit;
            input {
                display: none;
            }
            .selected{
                background-color: rgb(79, 144, 151);
            }  
        }
        .filter-header{
            display: none;
            @media (min-width: $md) {
                display: flex;
            }
            align-items: center;
            margin-bottom: 15px;
            h4 {
                margin-bottom: 0;
                display: inline;
            }
            .clear-filters-btn{
                margin-left: 15px;
                font-size: .85rem;
                padding: 1px 5px 1px 5px;
            }
        }
        .facet-section{
            display: none;
            @media (min-width: $md) {
                display: block;
            }
            margin-bottom: $spacing-unit;
            h5{
                color: rgb(79, 144, 151);
            }
            .facet-grouping {
                display: flex;
                flex-wrap: wrap;
                .facet{
                    max-width: 50%;
                    font-size: .8rem;
                    text-align: left;
                    input {
                        display: none;
                    }
                }
                .facet.selected{
                    background-color: rgb(79, 144, 151);
                }

            }
        }
    }
}