---
layout: default
---

{% if page.Media_URL != '' %}
  <img src="{{page.Media_URL}}" alt="{{page.Document_Type}}" />
{% endif %}
<h1>
  {{ page.Prefix }} {{ page.First_Name }} {{ page.Middle_Name }} {{ page.Nick_Name }}
  {{ page.Maiden_Name }} {{ page.Last_Name }} {{ page.Suffix }}
</h1>

<div class="d-flex mb-3">
  {% if page.FindGraveURL != '' %}
    <a class="mr-2" href="{{page.FindGraveURL}}" target="_blank" rel="noopener noreferrer">Find a Grave</a>
    {% endif %} 
  {% if page.Map_URL != '' %}
    <a class="mr-2" href="{{page.Map_URL}}" target="_blank" rel="noopener noreferrer">Map</a>
    {% endif %} 
  {% if page.EastEndCemeteryRVA_URL != '' %}
    <a href="{{page.EastEndCemeteryRVA_URL}}" target="_blank" rel="noopener noreferrer">East End Cemetery</a>
  {% endif %}
</div>

{% if page.Birth_Date != '' %}
  <p><span class="key">Date of birth:</span> {{ page.Birth_Date }}</p>
{% endif %}

{% if page.Birth_Location != '' %}
  <p><span class="key">Place of birth:</span> {{ page.Birth_Location }}</p>
{% endif %}

{% if page.Death_Date != '' %}
  <p><span class="key">Date of death:</span> {{ page.Death_Date }}</p>
{% endif %}

{% if page.Death_Location != '' %}
  <p><span class="key">Place of death:</span> {{ page.Death_Location }}</p>
{% endif %}

{% if page.Age_death != '' %}
  <p><span class="key">Age at death:</span> {{ page.Age_death }}</p>
{% endif %}

{% if page.Mother_Last_Name != '' or page.Father_Last_Name != '' %}
  <h3>Relationships</h3>
  {% if page.Mother_Last_Name != '' and page.Mother_Birthplace != ''%}
    <p><span class="key">Mother:</span> {{ page.Mother_FirstMiddle_name }} {{ page.Mother_Last_Name }}, born in {{ page.Mother_Birthplace }}</p>
  {% elsif page.Mother_Last_Name != ''%}
    <p><span class="key">Mother:</span> {{ page.Mother_FirstMiddle_name }} {{ page.Mother_Last_Name }}</p>
  {% endif %}

  {% if page.Father_Last_Name != '' and page.Father_Birthplace != ''%}
    <p><span class="key">Father:</span> {{ page.Father_FirstMiddle_Name }} {{ page.Father_Last_Name }}, born in {{ page.Father_Birthplace }}</p>
  {% elsif page.Father_Last_Name != ''%}
    <p><span class="key">Father:</span> {{ page.Father_FirstMiddle_Name }} {{ page.Father_Last_Name }}</p>
  {% endif %}
{% endif %}

{% if page.Spouse_Name != '' %}
  <p><span class="key">Spouses:</span></p>
  <p>{{ page.Spouse_Name }}</p>
  {% if page.Spouse_2 != '' %}
    <p>{{ page.Spouse_2 }}</p>
  {% endif %}
  {% if page.Spouse_3 != '' %}
    <p>{{ page.Spouse_3 }}</p>
  {% endif %}
  {% if page.Spouse_4 != '' %}
    <p>{{ page.Spouse_4 }}</p>
  {% endif %}
  <p>{{ page.Marriage_date }} {{ page.Marriage_location }}</p>
{% endif %}

{% if page.Other_family_Siblings_Children_etc != '' %}
  <p><span class="key">Other relatives:</span></p>
  <p>{{ page.Other_family_Siblings_Children_etc }}</p>
{% endif %}

{% if page.Address != '' %}
  <h3>Address</h3>
  <p>{{ page.Address }}</p>
{% endif %}

{% if page.Occupation != '' %}
  <h3>Occupation</h3>
  <p>{{ page.Occupation }}</p>
{% endif %}

{% if page.Employer != '' %}
  <h3>Employer</h3>
  <p>{{ page.Employer }}</p>
{% endif %}

{% if page.Fraternal_and_Beneficial_Organizations != '' or page.Church_affiliation != '' or page.School != '' %}
  <h3>Community Affiliations</h3>
  {% if page.Fraternal_and_Beneficial_Organizations != '' %}
    <p>
      <span class="key">Fraternal and beneficial organizations:</span>
      {{ page.Fraternal_and_Beneficial_Organizations }}
    </p>
  {% endif %}
  {% if page.Church_affiliation != '' %}
    <p><span class="key">Church Affiliation:</span> {{ page.Church_affiliation }}</p>
  {% endif %}
  {% if page.School != '' %}
    <p><span class="key">School:</span> {{ page.School }}</p>
  {% endif %}
{% endif %}

{% if page.Military_Service != '' %}
  <h3>Military Service</h3>
  <p>{{ page.Military_Service }}</p>
  <p>{{ page.Service_Information }}</p>
{% endif %}

{% if page.Plantation != '' %}
  <h3>Enslavement</h3>
  <p><span class="key">Plantation:</span> {{ page.Plantation }}</p>
{% endif %}

{% if page.Funeral_Home != '' or page.Burial_Date != '' or page.Cemetery_Name != '' %}
  <h3>Burial Information</h3>
  {% if page.Funeral_Home != '' %}
    <p><span class="key">Funeral home:</span> {{ page.Funeral_Home }}</p>
  {% endif %}
  {% if page.Burial_Date != '' %}
    <p><span class="key">Date of burial:</span> {{ page.Burial_Date }}</p>
  {% endif %}
  {% if page.Cemetery_Name != '' %}
    <p><span class="key">Cemetery:</span> {{ page.Cemetery_Name }}</p>
  {% endif %}
{% endif %}

{% if page.Notes_and_Clarifications != '' %}
  <h3>Notes and Clarifications</h3>
  <p>{{ page.Notes_and_Clarifications }}</p>
{% endif %}

{% if page.Other_Documents_to_Consult_for_Research != '' %}
  <h3>Other Documents to Consult for Research</h3>
  <p>{{ page.Other_Documents_to_Consult_for_Research }}</p>
{% endif %}

<br>

{% assign first = true %}
{% for record in site.data.all_records %}
  {% if record.FindGrave_ID == page.FindGrave_ID and record.Full_Biography_Record != 'TRUE' and record.Document_Type != '' and record.Document_Type != 'Grave Marker Description' %}
    {% if first == true %}
      <h3>Associated Documents</h3>
    {% endif %}
    <div class="toggle-data">
      <h3>{{ record.Document_Type }}</h3><span class="caret"></span>
    </div>
    <div class="data">
      {% if record.Media_URL != '' %}
        <img src="{{record.Media_URL}}" alt="{{record.Document_Type}}" />
      {% endif %}
      {%- include document.html -%}
      {% assign first = false %}
    </div>
  {% endif %}
{% endfor %}