---
layout: default
---

<h1>
  {{ page.Prefix }} {{ page.First_Name }} {{ page.Middle_Name }} {{ page.Nick_Name }}
  {{ page.Maiden_Name }} {{ page.Last_Name }} {{ page.Suffix }}
</h1>
<p><a href="{{page.FindGraveURL}}">Find A Grave URL</a> | <a href="{{page.Map_URL}}">MAP URL</a></p>

<h1>Personal Data</h1>
<p>Birth Date: {{ page.Birth_Date }}</p>

{% if page.Birth_Location != '' %}
  <p>Place of Birth: {{ page.Birth_Location }}</p>
{% endif %}

<p>Death Date: {{ page.Death_Date }}</p>

{% if page.Death_Location != '' %}
  <p>Place of Death: {{ page.Death_Location }}</p>
{% endif %}

{% if page.Age_death != '' %}
  <p>Age at Death: {{ page.Age_death }}</p>
{% endif %}

{% if page.Mother_Last_Name != '' or page.Father_Last_Name != '' %}
  <h1>Relationships</h1>
  {% if page.Mother_Last_Name != '' %}
    <p>
      Mother: {{ page.Mother_FirstMiddle_name }} {{ page.Mother_Last_Name }}
      {% if page.Mother_Birthplace != '' %}
        , Born In
        {{ page.Mother_Birthplace }}
      {% endif %}
    </p>
  {% endif %}

  {% if page.Father_Last_Name != '' %}
    <p>
      Father: {{ page.Father_FirstMiddle_name }} {{ page.Father_Last_Name }}
      {% if page.Father_Birthplace != '' %}
        , Born In
        {{ page.Father_Birthplace }}
      {% endif %}
    </p>
  {% endif %}
{% endif %}

{% if page.Spouse_Name != '' %}
  <p>Spouses:</p>
  <p>{{ page.Spouse_Name }} {{ page.Marriage_date }} {{ page.Marriage_location }}</p>
  {% if page.Spouse_2 != '' %}
    <p>{{ page.Spouse_2 }}</p>
  {% endif %}
  {% if page.Spouse_3 != '' %}
    <p>{{ page.Spouse_3 }}</p>
  {% endif %}
  {% if page.Spouse_4 != '' %}
    <p>{{ page.Spouse_4 }}</p>
  {% endif %}
{% endif %}

{% if page.Other_family_Siblings_Children_etc != '' %}
  <p>Other Relatives:</p>
  <p>{{ page.Other_family_Siblings_Children_etc }}</p>
{% endif %}

{% if page.Address != '' %}
  <h1>Address</h1>
  <p>{{ page.Address }}</p>
{% endif %}

{% if page.Occupation != '' %}
  <h1>Occupation</h1>
  <p>{{ page.Occupation }}</p>
{% endif %}

{% if page.Employer != '' %}
  <h1>Employer</h1>
  <p>{{ page.Employer }}</p>
{% endif %}

{% if page.Fraternal_and_Beneficial_Organizations != '' or page.Church_affiliation != '' or page.School != '' %}
  <h1>Community Affiliations</h1>
  {% if page.Fraternal_and_Beneficial_Organizations != '' %}
    <p>
      Fraternal and Beneficial Organizations:
      {{ page.Fraternal_and_Beneficial_Organizations }}
    </p>
  {% endif %}
  {% if page.Church_affiliation != '' %}
    <p>Church Affiliation: {{ page.Church_affiliation }}</p>
  {% endif %}
  {% if page.School != '' %}
    <p>School: {{ page.School }}</p>
  {% endif %}
{% endif %}

{% if page.Military_Service != '' %}
  <h1>Military Service</h1>
  <p>{{ page.Military_Service }}</p>
  <p>{{ page.Service_Information }}</p>
{% endif %}

{% if page.Plantation != '' %}
  <h1>Enslavement</h1>
  <p>Plantation: {{ page.Plantation }}</p>
{% endif %}

{% if page.Funeral_Home != '' or page.Funeral_Home_Address != '' or page.Burial_Year != '' %}
  <h1>Burial Information</h1>
  <p>Funeral Home: {{ page.Funeral_Home }}</p>
  <p>Funeral Home Adress: {{ page.Funeral_Home_Address }}</p>
  <p>
    Burial Date: {{ page.Burial_Date }}</p>
{% endif %}

{% if page.Notes_and_Clarifications != '' %}
  <h1>Notes and Clarifications:</h1>
  <p>{{ page.Notes_and_Clarifications }}</p>
{% endif %}

{% if page.Other_Documents_to_Consult_for_Research != '' %}
  <h1>Other Documents to Consult for Research:</h1>
  <p>{{ page.Other_Documents_to_Consult_for_Research }}</p>
{% endif %}

<h1>Associated Documents ({{ page.File_Count }})</h1>
{% for record in site.data.all_records %}
  {% if record.FindGrave_ID == page.FindGrave_ID and record.Full_Biography_Record != 'TRUE' and record.Document_Type != '' %}
    <h1>{{ record.Document_Type }}</h1>
    {% if record.Media_URL != '' %}
      <img src="{{record.Media_URL}}" alt="{{record.Document_Type}}" />
    {% endif %}
    {%- include document.html -%}
  {% endif %}
{% endfor %}