---
layout: default
---

{% if page.First_Name != null and page.First_Name != "" %}
    {% assign firstName = page.First_Name %}
{% else %}
    {% assign firstName = "<span class='unknown'>[unknown]</span>" %}
{% endif %}
{% if page.Last_Name != null and page.Last_Name != "" %}
    {% assign lastName = page.Last_Name %}
{% else %}
    {% assign lastName = "<span class='unknown'>[unknown]</span>" %}
{% endif %}
{% if page.Birth_Year != null and page.Birth_Year != "" %}
    {% assign birthYear = page.Birth_Year %}
{% else %}
    {% assign birthYear = "<span class='unknown'>[unknown]</span>" %}
{% endif %}
{% if page.Death_Year != null and page.Death_Year != "" %}
    {% assign deathYear = page.Death_Year %}
{% else %}
    {% assign deathYear = "<span class='unknown'>[unknown]</span>" %}
{% endif %}

{% assign suppressedFields = 
    "Death_Primary, Death_Secondary, Race_as_it_appears_on_document,
    Name_of_Master_or_Mistress, Plantation, GIS_ID, Stone_Broken,
    Notes, Marker_Transcription, CollectedBy, Collected_By, Collection_Date,
    Is_this_the_only_marker_for_this_person, SSID, Data_Source,
    Number_of_photos_taken_and_file_names_if_known,
    content, dir, name, path, url, layout, title"
%}
{% assign redundantFields = 
    "
        Birth_Decade, Death_Decade, Media_URL, FindGraveURL, Full_Biography_Record
    " 
%}

<div class="person">
    <div class="full-bio-section">
        <div class="full-bio-hero">
            {% if page.Media_URL != '' %}
                <img src={{page.Media_URL}} alt="portrait"/>
            {% endif %}
            <div class="hero-text">
                <h1>
                    {{page.Prefix}} {{firstName}} {{page.Middle_Name}} {{lastName}} {{page.Suffix}}
                </h1>
                <h3>
                    ca. {{birthYear}} - {{deathYear}}
                </h3>
                
                {% if page.Birth_Location != null and page.Birth_Location != "" %}
                    <h5>
                        Born in {{page.Birth_Location}}
                    </h5>
                {% endif %}
                
                {% if page.Death_Location != null and page.Death_Location != "" %}
                    <h5>
                        Died in {{page.Death_Location}}
                    </h5>
                {% endif %}
            </div>
        </div>

        {% if page.FindGraveURL != '' or page.Map_URL != '' or page.EastEndCemeteryRVA_URL != '' %}
        <div class="link-container">
            {% if page.FindGraveURL != '' %}
            <a class="btn btn-light" href="{{page.FindGraveURL}}" target="_blank">Findagrave.com<i class="fas fa-external-link-alt ml-2"></i></a>
            {% endif %}
            {% if page.Map_URL != '' %}
            <a class="btn btn-light" href="{{page.Map_URL}}" target="_blank">Cemetery Map<i class="fas fa-external-link-alt ml-2"></i></a>
            {% endif %}
            {% if page.EastEndCemeteryRVA_URL != '' %}
            <a class="btn btn-light" href="{{page.EastEndCemeteryRVA_URL}}" target="_blank">EastEndCemeteryRVA Profile<i class="fas fa-external-link-alt ml-2"></i></a>
            {% endif %}
        </div>    
        {% endif %}

        <h4>Complete Biographical Record</h4>
        <div class="card flex-row card-body text-dark fact-container">
            {% for fact in page offset: 2 %}
                {% if suppressedFields contains fact[0] or redundantFields contains fact[0] or fact[1] == null or fact[1] == "" %}
                   {% continue %}
                {% endif %}
                <div class="fact-cell">
                    <p class="fact-label">
                        {{fact[0] | replace: '_', ' ' | capitalize }}
                    </p>
                    <p class="fact">
                        {{fact[1]}}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="other-records-section">
        {% for record in site.data.all_records %}
            {% if record.FindGrave_ID == page.FindGrave_ID and record.Full_Biography_Record != 'TRUE' and record.Document_Type != '' %}
                <h4>{{record.Document_Type}}</h4>
                <div class="img-fact-container row">
                    {% if record.Media_URL != '' %}
                    <div class="col-md-2">
                        <img src={{record.Media_URL}} alt={{record.Document_Type}} />       
                    </div>
                    {% endif %}
                    <div class="col-md">
                        <div class="card flex-row card-body text-dark fact-container">
                            {% for fact in record %}
                                {% if suppressedFields contains fact[0] or redundantFields contains fact[0] or fact[1] == null or fact[1] == "" %}
                                    {% continue %}
                                {% endif %}
                                <div class="fact-cell">
                                    <p class="fact-label">
                                        {{fact[0] | replace: '_', ' ' | capitalize }}
                                    </p>
                                    <p class="fact">
                                        {{fact[1]}}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}    
    </div>
</div>
