<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

   <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
  <script src="https://unpkg.com/itemsjs@latest/dist/itemsjs.min.js"></script>
  <script>
    var fullBioRecords = {{ site.data.full_records | jsonify }};
  </script>
  <script type="module" src="/assets/react/build/Search.js"></script>

  </body>

</html>
